<div class="message" id="message-<%= message.id %>">
  <p>
    <% if message.user.avatar? %>
      <%= image_tag message.user.avatar.url, class: "avatar" %>
    <% else %>
      <%= image_tag "avatar.png", class: "avatar" %>
    <% end %>
    <%= message.id %>: <%= message.user.username %>: <%= l message.created_at, format: "%-d日(%a) %H:%M" %>
  </p>
  <% if message.images? %>
    <% message.images.each do |image| %>
      <%= image_tag image.url %>
    <% end %>
  <% end %>
  <%= simple_format(h message.content) %>
  
  <div id="favorites_buttons_<%= message.id %>">
    <%= render partial: 'favorites/favorite', locals: { message: message } %>
  </div>
  
  <!--ActionCableが動作しなくなった原因はここ-->
  <!--current_user.idがダメだったらしい-->
  <%# if message.user_id == current_user.id%>
    <%#= link_to "投稿を削除", message, method: :delete, data: { confirm: "投稿を削除しますか？" } %>
  <%# end %>
  
  
  <!--改善策がわからないので一旦このまま-->
  <%# if message.user_id %>
    <%#= link_to "投稿を削除", message, method: :delete, data: { confirm: "投稿を削除しますか？" } %>
  <%# end %>
</div>