<div class="
  <% if message.user == current_user %>
    message current_user
  <% else %>
    message
  <% end %>
" id="message-<%= message.id %>">
  <p>
    <% if message.user.avatar? %>
      <%= image_tag message.user.avatar.url, class: "avatar" %>
    <% else %>
      <%= image_tag "avatar.png", class: "avatar" %>
    <% end %>
  </p>
  <div class="bg-yellow">
    <div class="message-box">
      <p class="messenger"><%= message.user.username %></p>
      <% if message.images? %>
        <% message.images.each do |image| %>
          <%= image_tag image.url, class: "image" %>
        <% end %>
      <% end %>
      <p><%= simple_format(h message.content) %></p>
    </div>
    <div class="move-right">
      <div>
        <p class="date"><%= l message.created_at, format: "%-d日(%a) %H:%M" %></p>
      </div>
      <div id="favorites_buttons_<%= message.id %>">
        <%= render partial: 'favorites/favorite', locals: { message: message } %>
      </div>
      <div>
        <%= render partial: 'messages/delete', locals: { message: message } %>
      </div>
    </div>
  </div>

</div>