<div class="
  <% if message.user == current_user %>
    message current_user
  <% else %>
    message
  <% end %>
" id="message-<%= message.id %>">
  <p>
    <% if message.user.avatar? %>
      <%= image_tag message.user.avatar.url, class: "avatar" %>
    <% else %>
      <%= image_tag "avatar.png", class: "avatar" %>
    <% end %>
    <%= message.id %>: <%= message.user.username %>: <%= l message.created_at, format: "%-d日(%a) %H:%M" %>
  </p>
  <% if message.images? %>
    <% message.images.each do |image| %>
      <%= image_tag image.url %>
    <% end %>
  <% end %>
  <%= simple_format(h message.content) %>
  
  <div>
    <%= render partial: 'messages/delete', locals: { message: message } %>
  </div>
  
  
  <div id="favorites_buttons_<%= message.id %>">
    <%= render partial: 'favorites/favorite', locals: { message: message } %>
  </div>

</div>