<div class="message" id="message-<%= message.id %>">
  <p><%= message.id %>: <%= message.user.username %>: <%= l message.created_at, format: "%-d日(%a) %H:%M" %></p>
  <% if message.images? %>
    <%#= image_tag message.image.url %>
    <% message.images.each do |image| %>
      <%= image_tag image.url %>
    <% end %>
  <% end %>
  <%= simple_format(h message.content) %>
  <% if message.user_id == current_user.id %>
    <%= link_to "投稿を削除", message, method: :delete, data: { confirm: "投稿を削除しますか？" } %>
  <% end %>
</div>