<footer id="dm_footer">
  <div class="footer-center">
  <!--Ajaxを利用するため、local: trueは無し-->
  <%= form_with model: @dm_message do |f| %>
  
    <div class="form-group">
      <!--自動でmessage_contentというidがつく-->
      <%= f.text_area :content, class: "form-control", rows: "1", maxlength: "500" %>
    </div>
    
    <div class="form-group">
      <%= f.file_field :images, class: "form-control", id: "dm_images_content", multiple: true %>
    </div>
    
    <%= f.hidden_field :dm_room_id, value: @dm_room.id %>
    
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary btn-block disabled", id: "dm_message-button" %>
    </div>
  <% end %>
  </div>
</footer>