<footer id="dm_footer">
  <div class="footer-center">
  <!--Ajaxを利用するため、local: trueは無し-->
  <%= form_with model: @dm_message, class: "footer-flex" do |f| %>
  
    <div class="form-width">
      <%= f.text_area :content, class: "form-control form-radius", id: "dm_message_content", rows: "1", maxlength: "500" %>
    </div>
    
    <label class="file-width image-label  text-center change-color">
        <i class="fas fa-images"></i>
        <%= f.file_field :images, class: "form-control images-file", id: "dm_images_content", multiple: true %>
    </label>
    
    <%= f.hidden_field :dm_room_id, value: @dm_room.id %>
    
    <div class="submit-width">
      <%= f.submit "送信", class: "btn btn-block disabled", id: "dm_message-button" %>
    </div>
  <% end %>
  </div>
</footer>