<h1>DM</h1>

<h4>参加者</h4>

<% @dm_entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.username %></a></strong></h5>
<% end %>

<h4>ルームID</h4>
<%= @dm_room.id %>

<hr>

<% if @dm_messages.present? %>
  <% @dm_messages.each do |m| %>
    <strong><%= m.content %></strong>
    <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.username %></a></strong></small>
    <hr>
  <% end %>
<% else %>
  <h3 class="text_center">メッセージはまだありません</h3>
<% end %>

<%= form_with model: @dm_message do |f| %>
  <%= f.text_field :content, size: 70 %>
  <%= f.hidden_field :dm_room_id, value: @dm_room.id %>
  <br>
  <%= f.submit "送信" %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>