<% if user_signed_in? %>
  <% if message.favorited_by?(current_user) %>
    <%= link_to  message_favorites_path(message.id), method: :delete, remote: true, class: "font-color"  do %>
      <i class="fas fa-heart favo-on"></i>:<%= message.favorites.count %>
    <% end %>
  <% else %>
    <%= link_to  message_favorites_path(message.id), method: :post, remote: true, class: "font-color"  do %>
      <i class="fas fa-heart favo-off"></i>:<%= message.favorites.count %>
    <% end %>
  <% end %>
<% else %>
  <p class="font-color">お気に入り数:<%= message.favorites.count %></p>
<% end %>

