<div class="display-box p-top p-bottom">
<div class="h100">

<h2 class="m-bottom">
  <% if @user.avatar? %>
    <%= image_tag @user.avatar.url, class: "avatar" %>
  <% else %>
    <%= image_tag "avatar.png", class: "avatar" %>
  <% end %>
  <%= @user.username %>
</h2>

<% if @user.id == current_user.id %>
  <div class="m-bottom">
    <h2><span>全体トークで自分が送信したメッセージ</span></h2>
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <hr>
        <p><%= l message.created_at, format: "%-d日(%a) %H:%M" %> <%= simple_format(h message.content) %></p>
      <% end %>
    <% else %>
      <p><span>まだメッセージがありません</span></p>
  <% end %>
  </div>
  <div class="p-bottom">
  <h2><span>いいねしたメッセージ</span></h2>
    <% if @favorite_messages.present? %>
      <% @favorite_messages.each do |message| %>
        <hr>
        <p>
          <% if message.user.avatar? %>
            <%= image_tag message.user.avatar.url, class: "avatar" %>
          <% else %>
            <%= image_tag "avatar.png", class: "avatar" %>
          <% end %>
          : <%= message.user.username %>: <%= l message.created_at, format: "%-d日(%a) %H:%M" %><br />
          <%= simple_format(h message.content) %>
        </p>
      <% end %>
    <% else %>
      <p><span>まだいいねしていません</span></p>
    <% end %>
  </div>
<% else %>
  <% if @isDmRoom == true %>
    <!--<p><a href="/dm_rooms/<%#= @dmRoomId %>">チャット画面へ</a></p>-->
    <%= link_to "チャット画面へ", dm_room_path(@dmRoomId) , class: "btn" %>
  <% else %>
    <%= form_with model: @dmRoom do |f| %>
      <%= fields_for @dmEntry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class: "btn" %>
    <% end %>
  <% end %>
<% end %>

</div>
</div>