<!DOCTYPE html>
<html>
  <head>
    <title>SmileChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--viewport-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/sidebar' %>
      
    <!--Devise-->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <h1>TODO</h1>
    <ul>
      <li>パスワード再設定をnameで行いたい</li>
    </ul>
    
  </body>
</html>
